@model IEnumerable<ClinicWeb.App_Data.Medicine>

@{
    ViewBag.Title = "Danh sách thuốc";
}

<h1 class="text-center m-3">DANH SÁCH THUỐC</h1>

<div class="container mb-3">
    <div class="row">
        <div class="col-md-10">
            @using (Html.BeginForm("Medicines", "Admin", FormMethod.Get))
            {
                <div class="input-group">
                    <input class="form-control me-2" type="text" placeholder="Tìm kiếm thuốc" name="kw">
                    <button class="btn btn-primary" type="submit">Tìm kiếm</button>
                </div>
            }
        </div>
        <div class="col-md-2 text-end">
            <a class="btn btn-success" href="@Url.Action("AddMedicine", "Admin")">Thêm thuốc</a>
        </div>
    </div>
</div>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Tên</th>
            <th>Giá tiền</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var medicine in Model)
        {
            <tr>
                <td>@medicine.id</td>
                <td>@medicine.name</td>
                <td>@string.Format("{0:N0}", medicine.unit_price) VNĐ</td>
                <td>
                    <a class="btn btn-info" href="@Url.Action("EditMedicine", "Admin", new { id = medicine.id })">Cập nhật</a>
                    <a class="btn btn-danger" href="@Url.Action("DeleteMedicine", "Admin", new { id = medicine.id })">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
